.sign-up-email {
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  height: 100%;

  .header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    svg {
      width: 1.3rem;
      height: 1.3rem;
      margin: 1.5rem 1rem 1.5rem 0;
    }
    span {
      font-size: large;
      font-weight: 600;
      margin-left: 1rem;
    }
  }
  main {
    display: flex;
    flex-direction: column;
    input,
    .sign-up {
      margin: 0.5rem 0;
      width: 100%;
      border-radius: 0.5rem;
      border: 1px solid #dadada;
      padding: 0.8rem;
      font-size: 0.9rem;
    }

    .sign-up {
      background: rgb(33, 150, 243);
      color: #fff;
      border: none;
      font-weight: 600;
      margin: 1.3rem 0;
      padding: 1rem;
    }
  }

  .password {
    display: flex;
    align-items: center;

    .show-password {
      padding: 0;
      position: absolute;
      right: 30px;
      svg {
        height: 1.3rem;
      }
    }
  }

  .gender {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
    svg {
      width: 5rem;
      height: 5rem;
      fill: grey;
    }
  }
}
