ion-menu ion-content {
  --padding-top: 1.3rem;
  --padding-bottom: 1.3rem;
  --background: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.nav-items {
  display: flex;
  flex-direction: column;
  height: 80%;
}

.nav-items svg {
  margin: 0 1.3rem;
  fill: #9d9ea0;
}

.logout {
  margin-top: auto;
  display: flex;
  place-items: center;
  font-size: medium;
  color: #000000;
  font-weight: 400;
  padding-bottom: 1.25rem;
}

.logout-icon {
  fill: #9d9ea0;
  width: 3rem;
}

.nav-items ion-router-link {
  padding: 0.8rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: medium;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
  border-left: 4px solid transparent;
}

ion-header {
  padding: 0.8rem 0;
}

ion-menu-button {
  font-size: 2.5rem;
}

.menu-header {
  width: 121%;
  height: max(24%, 160px);
  transform: rotate(-12deg);
  background-image: linear-gradient(133deg, #0056ea 0%, #4269d7 100%);
  box-shadow: 0 2px 11px 0 rgba(98, 140, 255, 0.28);
  border-radius: 33px;
  margin: -70px 0 0 -12px;
  position: absolute;
  top: 0;
}

.menu-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.user-details {
  display: flex;
  align-items: center;
  margin: 1rem 2rem;
  color: #fff;
  z-index: 1;
}

.avatar {
  margin-right: 1rem;
}

.avatar > svg {
  width: 4rem;
  height: 4rem;
}

.menu-user-name {
  font-size: large;
}

ion-router-link.active-link {
  border-left-color: #0056ea;
}

ion-router-link.active-link svg {
  fill: #0056ea;
}
