.registration {
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  height: 100%;

  .ion-activatable {
    color: black;
  }

  .create-account {
    margin-top: auto;
    font-size: x-large;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.2px;
    margin-bottom: 1.3rem;

    div:first-of-type {
      color: rgb(33, 150, 243);
    }
  }

  .already-have-account {
    font-family: Fira Sans;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 1.3rem;
    color: rgb(33, 150, 243);
  }
}
