.grateful-things {
  .grateful-things-page-title {
    font-weight: 600;
    font-size: x-large;
    padding: 1rem;
  }

  .grateful-thing-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #edecec;
    padding: 1rem;
    word-break: break-word;

    .grateful-thing-title {
      font-size: large;
      font-weight: 400;
    }

    .pencil-icon {
      fill: #8f9092;
    }
  }
}

.grateful-thing {
  padding: 1rem;

  svg {
    height: 1rem;
    width: 1rem;
    fill: #8f9092;
    margin: 1rem 0 1rem 0;
  }

  .grateful-thing-page-title {
    display: block;
    font-weight: 500;
    font-size: x-large;
    padding: 2rem 0 1rem 0;
  }

  .grateful-input {
    margin: 2rem auto auto;
    border: 0;
    outline: 0;
    min-width: 100%;
    border-bottom: 1px solid #edecec;
    font-weight: 400;
    font-size: large;
    color: black;
    padding-bottom: 1rem;
    resize: none;
    min-height: 4rem;

    ::placeholder {
      color: #8f9092;
    }
  }
}

.update-grateful-thing {
  padding: 1rem;
  .grateful-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
  }

  svg {
    height: 1.25rem;
    width: 1.25rem;
    fill: #8f9092;
    margin-right: 1rem;
  }

  .grateful-input {
    margin: 2rem auto auto;
    border: 0;
    outline: 0;
    min-width: 100%;
    border-bottom: 1px solid #edecec;
    font-weight: 400;
    font-size: large;
    color: black;
    padding-bottom: 1rem;
    resize: none;
    min-height: 5rem;

    ::placeholder {
      color: #8f9092;
    }
  }
}
