.landing {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;

  .header-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .landing-title {
      color: #000;
      font-size: xx-large;
      margin: auto;
    }
    .landing-subtitle {
      font-weight: 500;
      font-size: large;
      color: #b5b5b5;
      padding-top: 2rem;
    }
  }

  .landing-illustrations {
    max-width: 29rem;
    margin: 0 auto;
  }

  .landing-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    button {
      width: 90%;
      margin: 1rem 0;
      text-transform: uppercase;
      font-size: large;
    }

    .sign-in {
      color: #2676ff;
      border: 1px solid #2676ff;
      letter-spacing: 1px;
    }
  }
}
